In [1]:
# Importing libraries.

import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

In [2]:
avg_scores = pd.read_csv('input_data/naep.csv')
poverty_income = pd.read_csv('input_data/poverty_income.csv')
unemploy_crime = pd.read_csv('input_data/unemployment_crime.csv')

In [3]:
unemploy_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 459 non-null    int64
 1   state                459 non-null    object
 2   unemployment_rate    459 non-null    float64
 3   violent_crime_rate   459 non-null    float64
 4   property_crime_rate  459 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 18.1+ KB

In [4]:
merged_df = pd.merge(avg_scores, poverty_income, how = 'left' , left_on =['state', 'year'], right_on=['state', 'year'])
merged_df = pd.merge(merged_df, unemploy_crime, how = 'left' , left_on =['state', 'year'], right_on=['state', 'year'])
merged_df

,year,state,avg_score,subject,grade,poverty_percent,median_income,unemployment_rate,violent_crime_rate,property_crime_rate
0,2019,Alabama,268.703899,Mathematics,8,15.6,51771,3.0,504.67,2622.80
1,2019,Alaska,274.337801,Mathematics,8,10.2,77203,5.4,865.05,2902.52
2,2019,Arizona,279.932022,Mathematics,8,13.5,62027,4.9,447.12,2435.98
3,2019,Arkansas,274.363192,Mathematics,8,16.0,49020,3.5,580.84,2847.71
4,2019,California,275.608909,Mathematics,8,11.8,80423,4.2,442.07,2335.78
...,...,...,...,...,...,...,...,...,...,...
1831,2003,Virginia,223.340359,Reading,4,10.0,50028,4.1,278.20,2721.54
1832,2003,Washington,221.096695,Reading,4,11.0,48185,7.4,346.94,4754.98
1833,2003,West Virginia,219.179525,Reading,4,16.3,32967,6.0,255.43,2339.02
1834,2003,Wisconsin,220.833428,Reading,4,8.9,46538,5.7,221.11,2880.45
1835,2003,Wyoming,222.075166,Reading,4,10.8,41554,4.3,261.70,3315.60

## Neural Network Testing - Grade 8 Reading

In [5]:
reading_merged_df = merged_df.loc[(merged_df['subject'] == 'Reading')]
read_8_merged_df = reading_merged_df.loc[(merged_df['grade'] == 8)]
read_8_merged_df

,year,state,avg_score,subject,grade,poverty_percent,median_income,unemployment_rate,violent_crime_rate,property_crime_rate
918,2019,Alabama,253.398605,Reading,8,15.6,51771,3.0,504.67,2622.80
919,2019,Alaska,252.385089,Reading,8,10.2,77203,5.4,865.05,2902.52
920,2019,Arizona,259.480352,Reading,8,13.5,62027,4.9,447.12,2435.98
921,2019,Arkansas,258.782754,Reading,8,16.0,49020,3.5,580.84,2847.71
922,2019,California,258.829734,Reading,8,11.8,80423,4.2,442.07,2335.78
...,...,...,...,...,...,...,...,...,...,...
1372,2003,Virginia,268.004817,Reading,8,10.0,50028,4.1,278.20,2721.54
1373,2003,Washington,264.494066,Reading,8,11.0,48185,7.4,346.94,4754.98
1374,2003,West Virginia,259.564238,Reading,8,16.3,32967,6.0,255.43,2339.02
1375,2003,Wisconsin,266.468618,Reading,8,8.9,46538,5.7,221.11,2880.45
1376,2003,Wyoming,267.001029,Reading,8,10.8,41554,4.3,261.70,3315.60

In [6]:
read_8_merged_df = read_8_merged_df.drop(columns = 'year')
read_8_merged_df = read_8_merged_df.drop(columns = 'state')
read_8_merged_df = read_8_merged_df.drop(columns = 'subject')
read_8_merged_df = read_8_merged_df.drop(columns = 'grade')
read_8_merged_df = read_8_merged_df.drop(columns = 'violent_crime_rate')
read_8_merged_df = read_8_merged_df.drop(columns = 'property_crime_rate')
read_8_merged_df

       avg_score  poverty_percent  median_income  unemployment_rate
918   253.398605             15.6          51771                3.0
919   252.385089             10.2          77203                5.4
920   259.480352             13.5          62027                4.9
921   258.782754             16.0          49020                3.5
922   258.829734             11.8          80423                4.2
...          ...              ...            ...                ...
1372  268.004817             10.0          50028                4.1
1373  264.494066             11.0          48185                7.4
1374  259.564238             16.3          32967                6.0
1375  266.468618              8.9          46538                5.7
1376  267.001029             10.8          41554                4.3

[459 rows x 4 columns]

In [7]:
read_8_merged_df.isnull().sum()

avg_score            0
poverty_percent      0
median_income        0
unemployment_rate    0
dtype: int64

In [8]:
read_8_merged_df.describe()

        avg_score  poverty_percent  median_income  unemployment_rate
count  459.000000       459.000000     459.000000         459.000000
mean   263.650495        13.500000   52867.071895           5.681481
std      6.422362         3.217603   10893.021072           2.113221
min    238.203093         6.400000   32397.000000           2.300000
25%    259.555732        10.900000   44802.500000           4.100000
50%    264.831687        13.100000   51086.000000           5.200000
75%    267.964743        15.850000   59447.000000           6.900000
max    277.782589        23.900000   90395.000000          13.700000

In [9]:
bins = [0, 250.9, 260.9, 270.9, 280]
group_names = [0, 1, 2, 3]
read_8_merged_df['new_col'] = pd.cut(read_8_merged_df['avg_score'],bins, labels=group_names, include_lowest=True)

In [10]:
read_8_merged_df = read_8_merged_df.drop(columns = 'avg_score')
read_8_merged_df

      poverty_percent  median_income  unemployment_rate new_col
918              15.6          51771                3.0       1
919              10.2          77203                5.4       1
920              13.5          62027                4.9       1
921              16.0          49020                3.5       1
922              11.8          80423                4.2       1
...               ...            ...                ...     ...
1372             10.0          50028                4.1       2
1373             11.0          48185                7.4       2
1374             16.3          32967                6.0       1
1375              8.9          46538                5.7       2
1376             10.8          41554                4.3       2

[459 rows x 4 columns]

In [11]:
x = read_8_merged_df.drop(columns = 'new_col').values
y = read_8_merged_df['new_col'].values

In [12]:
import tensorflow as tf
from sklearn.model_selection import train_test_split

y = tf.keras.utils.to_categorical(y)
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state = 42)

In [13]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [14]:
input_features = len(x_train_scaled[0])
hidden_layer1 = 50
hidden_layer2 = 35
# hidden_layer3 = 10

nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units = hidden_layer1, input_dim = input_features, activation = 'relu'))

nn.add(tf.keras.layers.Dense(units = hidden_layer2, activation = 'relu'))

# nn.add(tf.keras.layers.Dense(units = hidden_layer3, activation = 'relu'))

nn.add(tf.keras.layers.Dense(units = 4, activation = 'softmax'))

nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                200

 dense_1 (Dense)             (None, 35)                1785

 dense_2 (Dense)             (None, 4)                 144

=================================================================
Total params: 2,129
Trainable params: 2,129
Non-trainable params: 0
_________________________________________________________________

In [15]:
nn.compile(loss="categorical_crossentropy", optimizer= "adam", metrics=['accuracy'])

In [16]:
fit_model = nn.fit(x_train_scaled, y_train, epochs=100)

Epoch 1/100
11/11 [==============================] - 1s 3ms/step - loss: 1.2762 - accuracy: 0.5320
Epoch 2/100
11/11 [==============================] - 0s 3ms/step - loss: 1.1535 - accuracy: 0.5988
Epoch 3/100
11/11 [==============================] - 0s 2ms/step - loss: 1.0622 - accuracy: 0.6657
Epoch 4/100
11/11 [==============================] - 0s 2ms/step - loss: 0.9955 - accuracy: 0.6628
Epoch 5/100
11/11 [==============================] - 0s 2ms/step - loss: 0.9464 - accuracy: 0.6744
Epoch 6/100
11/11 [==============================] - 0s 3ms/step - loss: 0.9145 - accuracy: 0.6744
Epoch 7/100
11/11 [==============================] - 0s 2ms/step - loss: 0.8883 - accuracy: 0.6773
Epoch 8/100
11/11 [==============================] - 0s 2ms/step - loss: 0.8685 - accuracy: 0.6628
Epoch 9/100
11/11 [==============================] - 0s 3ms/step - loss: 0.8522 - accuracy: 0.6686
Epoch 10/100
11/11 [==============================] - 0s 3ms/step - loss: 0.8407 - accuracy: 0.6773
Epoch 11/100
11/11 [==============================] - 0s 3ms/step - loss: 0.8309 - accuracy: 0.6715
Epoch 12/100
11/11 [==============================] - 0s 3ms/step - loss: 0.8198 - accuracy: 0.6919
Epoch 13/100
11/11 [==============================] - 0s 2ms/step - loss: 0.8126 - accuracy: 0.6948
Epoch 14/100
11/11 [==============================] - 0s 2ms/step - loss: 0.8064 - accuracy: 0.6977
Epoch 15/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7990 - accuracy: 0.6948
Epoch 16/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7926 - accuracy: 0.6977
Epoch 17/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7902 - accuracy: 0.7006
Epoch 18/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7814 - accuracy: 0.7006
Epoch 19/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7791 - accuracy: 0.7035
Epoch 20/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7731 - accuracy: 0.7035
Epoch 21/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7686 - accuracy: 0.7064
Epoch 22/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7652 - accuracy: 0.7006
Epoch 23/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7617 - accuracy: 0.6977
Epoch 24/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7578 - accuracy: 0.7035
Epoch 25/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7540 - accuracy: 0.7064
Epoch 26/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7525 - accuracy: 0.7035
Epoch 27/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7499 - accuracy: 0.7035
Epoch 28/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7463 - accuracy: 0.7064
Epoch 29/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7435 - accuracy: 0.7093
Epoch 30/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7413 - accuracy: 0.7064
Epoch 31/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7383 - accuracy: 0.7035
Epoch 32/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7368 - accuracy: 0.7035
Epoch 33/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7334 - accuracy: 0.7064
Epoch 34/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7332 - accuracy: 0.7093
Epoch 35/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7311 - accuracy: 0.7035
Epoch 36/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7278 - accuracy: 0.7035
Epoch 37/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7257 - accuracy: 0.7093
Epoch 38/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7249 - accuracy: 0.7035
Epoch 39/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7217 - accuracy: 0.7151
Epoch 40/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7206 - accuracy: 0.7093
Epoch 41/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7214 - accuracy: 0.7093
Epoch 42/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7188 - accuracy: 0.7122
Epoch 43/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7184 - accuracy: 0.7093
Epoch 44/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7147 - accuracy: 0.7180
Epoch 45/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7149 - accuracy: 0.7122
Epoch 46/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7137 - accuracy: 0.7064
Epoch 47/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7123 - accuracy: 0.7122
Epoch 48/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7119 - accuracy: 0.7122
Epoch 49/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7097 - accuracy: 0.7180
Epoch 50/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7087 - accuracy: 0.7238
Epoch 51/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7069 - accuracy: 0.7209
Epoch 52/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7058 - accuracy: 0.7180
Epoch 53/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7053 - accuracy: 0.7209
Epoch 54/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7067 - accuracy: 0.7151
Epoch 55/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7043 - accuracy: 0.7180
Epoch 56/100
11/11 [==============================] - 0s 4ms/step - loss: 0.7012 - accuracy: 0.7238
Epoch 57/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7010 - accuracy: 0.7209
Epoch 58/100
11/11 [==============================] - 0s 3ms/step - loss: 0.7015 - accuracy: 0.7180
Epoch 59/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6997 - accuracy: 0.7180
Epoch 60/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6996 - accuracy: 0.7209
Epoch 61/100
11/11 [==============================] - 0s 4ms/step - loss: 0.7006 - accuracy: 0.7209
Epoch 62/100
11/11 [==============================] - 0s 4ms/step - loss: 0.6985 - accuracy: 0.7209
Epoch 63/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6970 - accuracy: 0.7238
Epoch 64/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6971 - accuracy: 0.7209
Epoch 65/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6964 - accuracy: 0.7209
Epoch 66/100
11/11 [==============================] - 0s 4ms/step - loss: 0.6965 - accuracy: 0.7326
Epoch 67/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6941 - accuracy: 0.7297
Epoch 68/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6926 - accuracy: 0.7267
Epoch 69/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6918 - accuracy: 0.7238
Epoch 70/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6943 - accuracy: 0.7238
Epoch 71/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6912 - accuracy: 0.7297
Epoch 72/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6900 - accuracy: 0.7209
Epoch 73/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6912 - accuracy: 0.7326
Epoch 74/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6869 - accuracy: 0.7297
Epoch 75/100
11/11 [==============================] - 0s 4ms/step - loss: 0.6873 - accuracy: 0.7180
Epoch 76/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6869 - accuracy: 0.7209
Epoch 77/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6885 - accuracy: 0.7238
Epoch 78/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6865 - accuracy: 0.7180
Epoch 79/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6850 - accuracy: 0.7238
Epoch 80/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6845 - accuracy: 0.7238
Epoch 81/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6856 - accuracy: 0.7151
Epoch 82/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6830 - accuracy: 0.7180
Epoch 83/100

11/11 [==============================] - 0s 2ms/step - loss: 0.6820 - accuracy: 0.7297
Epoch 84/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6829 - accuracy: 0.7238
Epoch 85/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6812 - accuracy: 0.7238
Epoch 86/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6810 - accuracy: 0.7297
Epoch 87/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6787 - accuracy: 0.7238
Epoch 88/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6788 - accuracy: 0.7151
Epoch 89/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6776 - accuracy: 0.7238
Epoch 90/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6804 - accuracy: 0.7326
Epoch 91/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6768 - accuracy: 0.7355
Epoch 92/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6774 - accuracy: 0.7267
Epoch 93/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6764 - accuracy: 0.7297
Epoch 94/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6745 - accuracy: 0.7267
Epoch 95/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6756 - accuracy: 0.7209
Epoch 96/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6749 - accuracy: 0.7238
Epoch 97/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6741 - accuracy: 0.7209
Epoch 98/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6728 - accuracy: 0.7326
Epoch 99/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6725 - accuracy: 0.7355
Epoch 100/100
11/11 [==============================] - 0s 3ms/step - loss: 0.6715 - accuracy: 0.7238

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

4/4 - 0s - loss: 0.6631 - accuracy: 0.7826 - 295ms/epoch - 74ms/step
Loss: 0.6630796790122986, Accuracy: 0.782608687877655

In [18]:
input = [[15.6, 51771, 3.0]]
predictions = nn.predict(input)
print(predictions)

[[1. 0. 0. 0.]]

In [20]:
# nn.save('grade_8_read_model.h5')