In [1]:
# Importing libraries.

import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

In [2]:
avg_scores = pd.read_csv('input_data/naep.csv')
poverty_income = pd.read_csv('input_data/poverty_income.csv')
unemploy_crime = pd.read_csv('input_data/unemployment_crime.csv')

In [3]:
unemploy_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 459 non-null    int64
 1   state                459 non-null    object
 2   unemployment_rate    459 non-null    float64
 3   violent_crime_rate   459 non-null    float64
 4   property_crime_rate  459 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 18.1+ KB

In [4]:
merged_df = pd.merge(avg_scores, poverty_income, how = 'left' , left_on =['state', 'year'], right_on=['state', 'year'])
merged_df = pd.merge(merged_df, unemploy_crime, how = 'left' , left_on =['state', 'year'], right_on=['state', 'year'])
merged_df

,year,state,avg_score,subject,grade,poverty_percent,median_income,unemployment_rate,violent_crime_rate,property_crime_rate
0,2019,Alabama,268.703899,Mathematics,8,15.6,51771,3.0,504.67,2622.80
1,2019,Alaska,274.337801,Mathematics,8,10.2,77203,5.4,865.05,2902.52
2,2019,Arizona,279.932022,Mathematics,8,13.5,62027,4.9,447.12,2435.98
3,2019,Arkansas,274.363192,Mathematics,8,16.0,49020,3.5,580.84,2847.71
4,2019,California,275.608909,Mathematics,8,11.8,80423,4.2,442.07,2335.78
...,...,...,...,...,...,...,...,...,...,...
1831,2003,Virginia,223.340359,Reading,4,10.0,50028,4.1,278.20,2721.54
1832,2003,Washington,221.096695,Reading,4,11.0,48185,7.4,346.94,4754.98
1833,2003,West Virginia,219.179525,Reading,4,16.3,32967,6.0,255.43,2339.02
1834,2003,Wisconsin,220.833428,Reading,4,8.9,46538,5.7,221.11,2880.45
1835,2003,Wyoming,222.075166,Reading,4,10.8,41554,4.3,261.70,3315.60

## Neural Network Testing - Grade 4 Reading

In [5]:
reading_merged_df = merged_df.loc[(merged_df['subject'] == 'Reading')]
read_4_merged_df = reading_merged_df.loc[(merged_df['grade'] == 4)]
read_4_merged_df

,year,state,avg_score,subject,grade,poverty_percent,median_income,unemployment_rate,violent_crime_rate,property_crime_rate
1377,2019,Alabama,211.728520,Reading,4,15.6,51771,3.0,504.67,2622.80
1378,2019,Alaska,204.373572,Reading,4,10.2,77203,5.4,865.05,2902.52
1379,2019,Arizona,215.841231,Reading,4,13.5,62027,4.9,447.12,2435.98
1380,2019,Arkansas,215.054222,Reading,4,16.0,49020,3.5,580.84,2847.71
1381,2019,California,216.481266,Reading,4,11.8,80423,4.2,442.07,2335.78
...,...,...,...,...,...,...,...,...,...,...
1831,2003,Virginia,223.340359,Reading,4,10.0,50028,4.1,278.20,2721.54
1832,2003,Washington,221.096695,Reading,4,11.0,48185,7.4,346.94,4754.98
1833,2003,West Virginia,219.179525,Reading,4,16.3,32967,6.0,255.43,2339.02
1834,2003,Wisconsin,220.833428,Reading,4,8.9,46538,5.7,221.11,2880.45
1835,2003,Wyoming,222.075166,Reading,4,10.8,41554,4.3,261.70,3315.60

In [6]:
read_4_merged_df = read_4_merged_df.drop(columns = 'year')
read_4_merged_df = read_4_merged_df.drop(columns = 'state')
read_4_merged_df = read_4_merged_df.drop(columns = 'subject')
read_4_merged_df = read_4_merged_df.drop(columns = 'grade')
read_4_merged_df = read_4_merged_df.drop(columns = 'violent_crime_rate')
read_4_merged_df = read_4_merged_df.drop(columns = 'property_crime_rate')
read_4_merged_df

       avg_score  poverty_percent  median_income  unemployment_rate
1377  211.728520             15.6          51771                3.0
1378  204.373572             10.2          77203                5.4
1379  215.841231             13.5          62027                4.9
1380  215.054222             16.0          49020                3.5
1381  216.481266             11.8          80423                4.2
...          ...              ...            ...                ...
1831  223.340359             10.0          50028                4.1
1832  221.096695             11.0          48185                7.4
1833  219.179525             16.3          32967                6.0
1834  220.833428              8.9          46538                5.7
1835  222.075166             10.8          41554                4.3

[459 rows x 4 columns]

In [7]:
read_4_merged_df.isnull().sum()

avg_score            0
poverty_percent      0
median_income        0
unemployment_rate    0
dtype: int64

In [8]:
read_4_merged_df.describe()

        avg_score  poverty_percent  median_income  unemployment_rate
count  459.000000       459.000000     459.000000         459.000000
mean   219.999774        13.500000   52867.071895           5.681481
std      6.656643         3.217603   10893.021072           2.113221
min    188.374479         6.400000   32397.000000           2.300000
25%    216.357610        10.900000   44802.500000           4.100000
50%    221.220580        13.100000   51086.000000           5.200000
75%    224.478063        15.850000   59447.000000           6.900000
max    236.773867        23.900000   90395.000000          13.700000

In [9]:
bins = [0, 195.9, 210.9, 225.9, 240]
group_names = [0, 1, 2, 3]
read_4_merged_df['new_col'] = pd.cut(read_4_merged_df['avg_score'],bins, labels=group_names, include_lowest=True)

In [10]:
read_4_merged_df = read_4_merged_df.drop(columns = 'avg_score')
read_4_merged_df

      poverty_percent  median_income  unemployment_rate new_col
1377             15.6          51771                3.0       2
1378             10.2          77203                5.4       1
1379             13.5          62027                4.9       2
1380             16.0          49020                3.5       2
1381             11.8          80423                4.2       2
...               ...            ...                ...     ...
1831             10.0          50028                4.1       2
1832             11.0          48185                7.4       2
1833             16.3          32967                6.0       2
1834              8.9          46538                5.7       2
1835             10.8          41554                4.3       2

[459 rows x 4 columns]

In [11]:
x = read_4_merged_df.drop(columns = 'new_col').values
y = read_4_merged_df['new_col'].values

In [12]:
import tensorflow as tf
from sklearn.model_selection import train_test_split

y = tf.keras.utils.to_categorical(y)
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state = 78)

In [13]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [14]:
input_features = len(x_train_scaled[0])
hidden_layer1 = 50
hidden_layer2 = 35
# hidden_layer3 = 10

nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units = hidden_layer1, input_dim = input_features, activation = 'relu'))

nn.add(tf.keras.layers.Dense(units = hidden_layer2, activation = 'relu'))

# nn.add(tf.keras.layers.Dense(units = hidden_layer3, activation = 'relu'))

nn.add(tf.keras.layers.Dense(units = 4, activation = 'softmax'))

nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                200

 dense_1 (Dense)             (None, 35)                1785

 dense_2 (Dense)             (None, 4)                 144

=================================================================
Total params: 2,129
Trainable params: 2,129
Non-trainable params: 0
_________________________________________________________________

In [15]:
nn.compile(loss="categorical_crossentropy", optimizer= "adam", metrics=['accuracy'])

In [16]:
fit_model = nn.fit(x_train_scaled, y_train, epochs=100)

Epoch 1/100
11/11 [==============================] - 0s 2ms/step - loss: 1.1517 - accuracy: 0.7209
Epoch 2/100
11/11 [==============================] - 0s 1ms/step - loss: 1.0052 - accuracy: 0.7267
Epoch 3/100
11/11 [==============================] - 0s 2ms/step - loss: 0.9052 - accuracy: 0.7267
Epoch 4/100
11/11 [==============================] - 0s 1ms/step - loss: 0.8412 - accuracy: 0.7267
Epoch 5/100
11/11 [==============================] - 0s 1ms/step - loss: 0.7947 - accuracy: 0.7267
Epoch 6/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7592 - accuracy: 0.7267
Epoch 7/100
11/11 [==============================] - 0s 1ms/step - loss: 0.7310 - accuracy: 0.7267
Epoch 8/100
11/11 [==============================] - 0s 2ms/step - loss: 0.7079 - accuracy: 0.7267
Epoch 9/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6897 - accuracy: 0.7326
Epoch 10/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6770 - accuracy: 0.7384
Epoch 11/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6669 - accuracy: 0.7384
Epoch 12/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6577 - accuracy: 0.7413
Epoch 13/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6508 - accuracy: 0.7558
Epoch 14/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6451 - accuracy: 0.7558
Epoch 15/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6408 - accuracy: 0.7616
Epoch 16/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6361 - accuracy: 0.7733
Epoch 17/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6344 - accuracy: 0.7558
Epoch 18/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6289 - accuracy: 0.7674
Epoch 19/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6269 - accuracy: 0.7762
Epoch 20/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6219 - accuracy: 0.7907
Epoch 21/100
11/11 [==============================] - 0s 1ms/step - loss: 0.6228 - accuracy: 0.7820
Epoch 22/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6174 - accuracy: 0.7878
Epoch 23/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6161 - accuracy: 0.7791
Epoch 24/100
11/11 [==============================] - 0s 1ms/step - loss: 0.6135 - accuracy: 0.7849
Epoch 25/100
11/11 [==============================] - 0s 1ms/step - loss: 0.6135 - accuracy: 0.7907
Epoch 26/100
11/11 [==============================] - 0s 1ms/step - loss: 0.6089 - accuracy: 0.7936
Epoch 27/100
11/11 [==============================] - 0s 1ms/step - loss: 0.6074 - accuracy: 0.7936
Epoch 28/100
11/11 [==============================] - 0s 1ms/step - loss: 0.6065 - accuracy: 0.7907
Epoch 29/100
11/11 [==============================] - 0s 1ms/step - loss: 0.6043 - accuracy: 0.7907
Epoch 30/100
11/11 [==============================] - 0s 2ms/step - loss: 0.6021 - accuracy: 0.7878
Epoch 31/100
11/11 [==============================] - 0s 1ms/step - loss: 0.6014 - accuracy: 0.7878
Epoch 32/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5994 - accuracy: 0.7878
Epoch 33/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5978 - accuracy: 0.7936
Epoch 34/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5976 - accuracy: 0.7936
Epoch 35/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5940 - accuracy: 0.7907
Epoch 36/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5928 - accuracy: 0.7907
Epoch 37/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5926 - accuracy: 0.7965
Epoch 38/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5936 - accuracy: 0.7936
Epoch 39/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5901 - accuracy: 0.7907
Epoch 40/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5910 - accuracy: 0.7936
Epoch 41/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5923 - accuracy: 0.7820
Epoch 42/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5875 - accuracy: 0.7849
Epoch 43/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5888 - accuracy: 0.7936
Epoch 44/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5862 - accuracy: 0.7994
Epoch 45/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5846 - accuracy: 0.7965
Epoch 46/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5881 - accuracy: 0.7965
Epoch 47/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5890 - accuracy: 0.7936
Epoch 48/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5820 - accuracy: 0.7965
Epoch 49/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5845 - accuracy: 0.7849
Epoch 50/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5832 - accuracy: 0.7965
Epoch 51/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5812 - accuracy: 0.7965
Epoch 52/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5777 - accuracy: 0.7994
Epoch 53/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5807 - accuracy: 0.7936
Epoch 54/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5770 - accuracy: 0.8023
Epoch 55/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5787 - accuracy: 0.7994
Epoch 56/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5782 - accuracy: 0.7994
Epoch 57/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5742 - accuracy: 0.7994
Epoch 58/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5745 - accuracy: 0.7994
Epoch 59/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5724 - accuracy: 0.7994
Epoch 60/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5742 - accuracy: 0.7994
Epoch 61/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5723 - accuracy: 0.8081
Epoch 62/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5709 - accuracy: 0.8052
Epoch 63/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5713 - accuracy: 0.8052
Epoch 64/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5712 - accuracy: 0.7994
Epoch 65/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5704 - accuracy: 0.7965
Epoch 66/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5703 - accuracy: 0.7994
Epoch 67/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5691 - accuracy: 0.8052
Epoch 68/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5683 - accuracy: 0.8081
Epoch 69/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5680 - accuracy: 0.8052
Epoch 70/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5678 - accuracy: 0.7965
Epoch 71/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5671 - accuracy: 0.7965
Epoch 72/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5697 - accuracy: 0.8052
Epoch 73/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5689 - accuracy: 0.7994
Epoch 74/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5648 - accuracy: 0.8023
Epoch 75/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5663 - accuracy: 0.8023
Epoch 76/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5650 - accuracy: 0.8052
Epoch 77/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5676 - accuracy: 0.7994
Epoch 78/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5646 - accuracy: 0.7994
Epoch 79/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5660 - accuracy: 0.7994
Epoch 80/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5622 - accuracy: 0.8052
Epoch 81/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5624 - accuracy: 0.8052
Epoch 82/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5616 - accuracy: 0.8023
Epoch 83/100

11/11 [==============================] - 0s 1ms/step - loss: 0.5623 - accuracy: 0.8023
Epoch 84/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5611 - accuracy: 0.8052
Epoch 85/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5599 - accuracy: 0.8052
Epoch 86/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5610 - accuracy: 0.8023
Epoch 87/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5590 - accuracy: 0.8081
Epoch 88/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5586 - accuracy: 0.8081
Epoch 89/100
11/11 [==============================] - 0s 2ms/step - loss: 0.5592 - accuracy: 0.8081
Epoch 90/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5578 - accuracy: 0.8052
Epoch 91/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5574 - accuracy: 0.8052
Epoch 92/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5597 - accuracy: 0.7994
Epoch 93/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5576 - accuracy: 0.7994
Epoch 94/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5576 - accuracy: 0.8052
Epoch 95/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5568 - accuracy: 0.8023
Epoch 96/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5558 - accuracy: 0.8023
Epoch 97/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5574 - accuracy: 0.8052
Epoch 98/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5544 - accuracy: 0.8052
Epoch 99/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5551 - accuracy: 0.8081
Epoch 100/100
11/11 [==============================] - 0s 1ms/step - loss: 0.5541 - accuracy: 0.8081

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

4/4 - 0s - loss: 0.4660 - accuracy: 0.8522 - 151ms/epoch - 38ms/step
Loss: 0.4659682512283325, Accuracy: 0.852173924446106

In [18]:
input = [[15.6, 51771, 3.0]]
predictions = nn.predict(input)
print(predictions)

[[0. 0. 1. 0.]]

In [19]:
# nn.save('grade_4_read_model.h5')